<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Forms F1 | Shop 2023</title>
  </head>
  <body>
    <div class="form-container">
      <div class="form-column">
        <h1>Create new cart</h1>

        <form id="addCart">
          <label for="id_prod">ID Prod</label>
          <input type="text" name="id_prod" required>

          <label for="quantity">Quantity</label>
          <input type="text" name="quantity" required>

          <button type="submit">Create cart</button>
        </form>
      </div>

      <div>
        <h1>Delete Cart</h1>

        <form id="deleteCart">
          <label for="cartId">ID</label>
          <input type="text" name="cartId" required>

          <button type="submit">Delete cart</button>
        </form>
      </div>
    </div>
  </body>
</html>